version: 2
jobs:
  lint:
    docker:
      - image: circleci/golang:1.11.4
    working_directory: /go/src/github.com/yoheimuta/xo-example-app
    steps:
      - checkout
      - run: make dev/install/dep
      - run: make test/lint
  test:
    docker:
      - image: circleci/golang:1.11.4
      - image: circleci/mysql:8.0
        environment:
          - MYSQL_ROOT_PASSWORD=my-pw
        command: mysqld --default-authentication-plugin=mysql_native_password
    working_directory: /go/src/github.com/yoheimuta/xo-example-app
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            sudo apt install mysql-client
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 10s
      - run:
          name: Run tests
          command: |
            make test/go
workflows:
  version: 2
  lint_and_test:
    jobs:
      - lint
      - test

